// Default variables
@import 'breakpoints';
html {
	--base-font-size: 1.4rem;
}

// Light default theme
body {
 	--bg-color: #F3F7F9;
 	--bg-content-color: #fff;
 	--bg-code: #fffbf3;
 	--body-color: #444;
 	--title-color: #111;
 	--link-color: #6b17e6;
 	--border-color:  rgba(0,0,0,.1);;
	--space: 3.5rem;
	--content-width: 150em;
	--header-height: 80px;
	--radius: 5px;


	--size-s: 17rem; // 786px
	--size-m: 27rem; // 1366px
	--size-l: 43rem; // 1920 px
	--size-xl: 61rem; // 2560px


	--font-size-s: 0.8em;
	
}

// Make  things smaller for mobile
@media screen and (max-width: $bp-xs) {
	html {
		--base-font-size: 1.0rem;
	}
	body {
		--space: 1.5rem;
		--header-height: 60px;
	}
}

@media screen and (max-width: $bp-s) and (min-width: $bp-xs) {
	html {
		--base-font-size: 1.1rem;
	}
	body {
		--space: 1.5rem;
		--header-height: 60px;
	}
}


// Override variables for Dark theme
body[data-theme="dark"] {
 	--bg-color: #373737;
 	--bg-content-color: #222222;
 	--bg-code: rgba(0,0,0,.3);
 	--border-color:  rgba(255,255,255,.1);;
 	--body-color: #ced8de;
 	--title-color: #fff;
 	--link-color: #af9cef;
}