<template>
  <Layout>
    <Author :showTitle="true" :author="$page.author"></Author>
    <div class="posts">
      <PostCard v-for="edge in edges" :key="edge.node.id" :post="edge.node"/>
    </div>
  </Layout>
</template>

<page-query>
query Author ($path: String!) {
  author:ghostAuthor (path: $path) {
    name
    path
    profile_image
    bio
    belongsTo {
      edges {
        node {
          ...on GhostPost {
            id
            title
            path
            date: published_at (format: "D. MMMM YYYY")
            description: excerpt
            cover_image: feature_image
            content: html
            slug
          }
        }
      }
    }
  }
}
</page-query>

<script>
import PostCard from '~/components/PostCard.vue'
import Author from '~/components/Author.vue'

export default {
  components: {
    PostCard,
    Author
  },
  computed: {
      edges: function() {
          return this.$page.author.belongsTo.edges.filter((edge) => edge.node.id !== undefined);
      }
  }
}
</script>