<template>
	<Layout>
		<BlogHead :headline="headline" :description="$page.tag.description">
		</BlogHead>

		<div class="posts">
			<PostCard v-for="edge in $page.tag.belongsTo.edges" :key="edge.node.id" :post="edge.node"/>
		</div>
	</Layout>
</template>

<page-query>
	query Tag ($path: String!) {
		tag:ghostTag (path: $path) {
			title: name
			slug
			path
			description
			belongsTo {
				edges {
					node {
						...on GhostPost {
							title
							path
							date: published_at (format: "D. MMMM YYYY")
							description: excerpt
							cover_image: feature_image
							content: html
							slug
						}
					}
				}
			}
	}
}
</page-query>

<script>
import Author from '~/components/Author.vue'
import PostCard from '~/components/PostCard.vue'
import BlogHead from '~/components/BlogHead.vue'

export default {
	components: {
		Author,
		PostCard,
		BlogHead
	},
	metaInfo() {
		return {
			title: this.$page.tag.title
		}
	},
	computed: {
		headline: function() {
			return `Storyloom ${this.$page.tag.title}`
		}
	}
}
</script>

<style lang="scss">

</style>

