<template>
	<Layout>
		<template v-slot:logo>
			<Logo :link="internalTag.path" :name="siteName" />
		</template>
		<div class="post-title">
			<h1 class="post-title__text">
				{{ $page.post.title }}
			</h1>

			<PostMeta :post="$page.post" />

		</div>

		<div class="post content-box">
			<div class="post__header">
				<g-image alt="Cover image" v-if="$page.post.cover_image" :src="$page.post.cover_image" />
			</div>

			<div class="post__content" v-html="$page.post.content" />

			<div class="post__footer">
				<PostTags :tags="filteredTags" />
			</div>
		</div>

		<Author v-for="author in $page.post.authors" 
			class="post-author"
			:key="author.id"
			:author="author"
		/>
	</Layout>
</template>

<script>
import PostMeta from '~/components/PostMeta'
import PostTags from '~/components/PostTags'
import Author from '~/components/Author.vue'
import Logo from '~/components/Logo.vue'

export default {
	components: {
		Author,
		PostMeta,
		PostTags,
		Logo
	},
	computed: {
		filteredTags: function() {
			return this.$page.post.tags.filter((v) => v.visibility !== "internal")
		},
		internalTag: function() {
			return this.$page.post.tags.find((v) => v.visibility === "internal")
		},
		siteName: function() {
			const internalTag = this.$page.post.tags.find((v) => v.visibility === "internal");
			if(!internalTag) return undefined;
			return `${this.$page.metadata.siteName} ${internalTag.title}`
		}
	},
	mounted(){
		// set ratio as flex-grow to get them to same height
		const galleryImages = this.$el.querySelectorAll('.kg-gallery-image');
		galleryImages.forEach(async element => {
			element.firstChild.addEventListener('load', (e) => {
				const img = e.target;
				const ratio = img.naturalWidth/img.naturalHeight;
				element.style.flex = `${ratio} 1 0%`;
			})
		});
	},
	metaInfo () {
		return {
			title: this.$page.post.title,
			meta: [
				{
					name: 'description',
					content: this.$page.post.description
				}
			]
		}
	}
}
</script>

<page-query>
query Post ($path: String!) {
	post: ghostPost (path: $path) {
		title
		slug
		date: published_at (format: "D. MMMM YYYY")
		tags {
			id
			path
			title: name
			slug
			visibility
		}
		description: excerpt
		content: html
		cover_image: feature_image
		authors {
			id
			path
			name
			profile_image
			bio
		}
	}
	metadata {
		siteName
	}
}
</page-query>

<style lang="scss">
.post-title {
	padding: calc(var(--space) / 2) 0 calc(var(--space) / 2);
	text-align: center;
}

.post {
	max-width: var(--size-l);
	&__header {
		width: calc(100% + var(--space) * 2);
		max-height: 87vh;
		margin-left: calc(var(--space) * -1);
		margin-top: calc(var(--space) * -1);
		margin-bottom: calc(var(--space) / 2);
		overflow: hidden;
		border-radius: var(--radius) var(--radius) 0 0;

		img {
			width: 100%;
		}


		&:empty {
			display: none;
		}
	}

	&__content {

		h2:first-child {
			margin-top: 0;
		}

	 /* p:first-of-type {
			font-size: 1.2em;
			color: var(--title-color);
		}*/

		figure {
			margin: calc(var(--space)/2) calc(var(--space) * -1);

			figcaption {
				font-size: var(--font-size-s);
				text-align: center;
				padding: calc(var(--space)/9) var(--space);
			}
		}

		img {
			//width: calc(100% + var(--space) * 2);
			//margin-left: calc(var(--space) * -1);
			width: 100%;
			display: block;
			//max-width: none;
		}

		.kg-gallery-container{
			//display: grid;
			// repeat(auto-fill, minmax(200px, 1fr))

		}
		.kg-gallery-row {
			position: relative;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			width: 100%;
			height: 100%;
			//overflow: hidden;
			.kg-gallery-image {
				position: relative;
				padding: calc(var(--space)/9);

				img {
					max-width: 100%;
					width: auto;
					height: auto;
				}

			}
		}

		
	}
}

.post-comments {
	padding: calc(var(--space) / 2);

	&:empty {
		display: none;
	}
}

.post-author {
	margin-top: calc(var(--space) / 2);
}
</style>
