<template>
	<div class="grid">
		<slot></slot>
	</div>
</template>

<style lang="scss">
	.grid {
		display: grid;
		grid-template-columns: 10rem 10rem;
		column-gap: 50px;

		& > * {
			width: 50%;
		}	
	}
</style>