<template>
    <section :style="{backgroundImage:`url(${image})`}">
        <h2 class="headline">{{headline}}</h2>
        <g-link :to="link"></g-link>
    </section>
</template>

<style lang="scss" scoped>
    section{
        width: calc((var(--size-s)/2)*1.4);
        height: calc(var(--size-s)/2);
        .headline {
            padding: 0.1rem;
            padding-right: 0.1375rem;
        }
    }

    section {
        position: relative;
        box-sizing: margin-box;
        background: center no-repeat padding-box;
        background-color: var(--bg-content-color);
        background-size: cover;
        padding-top: 93%;
        width: 100%;
        .headline {
            position: absolute;
            padding: 2%;
            padding-right: 2.5%;
            background: var(--bg-content-color);
            top: 0;
            left: 0;
            
        }
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<script>
export default {
    props: {
        size: {
            type: String,
            default: 's',
            validator: (value) => ['s', 'm', 'l'].includes(value)
        },
        headline: String,
        image: String,
        link: String,
        external: {
            type: Boolean,
            default: false
        },
    }
}
</script>