/* Table of Contents
/* ------------------------------------------------------------

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css

1.  Global Styles
2.  Form and Input
3.  Special Templates
4.  Site Header
5.  Site Navigation
6.  Post Feed
7.  Single Post
8.  Author Template
9.  Error Template
10. Subscribe Overlay
11. Site Footer

*/


/* 1. Global - Set up the things
/* ---------------------------------------------------------- */
@import "variables/colors";
@import "variables/sizing";
@import "social";


html {
  font-size: 62.5%;
}

body {

  position: relative;

  margin: 0;
  font-family: 'Noto Serif',serif;
  font-size: 2rem;
  line-height: 1.6em;
  color: $grey;


}

a {
  text-decoration: none;
  color: $grey-blue;
}

a:hover {
  color: $grey
}


h1 {
  line-height: 1.4em;
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
  line-height: 1.4em;
}


/* 2. Form and Input
/* ---------------------------------------------------------- */

button, .button, input, .input, textarea, .textarea,
label, .label{
  box-sizing: border-box;
  padding: 13px 23px;
  font-size: 2rem;

  border: none;

}

button, .button{
  background: $grey-blue;
  border-radius: 0;

  color: white;

  cursor: pointer;


}

button:hover, .button:hover{
  background: $grey;
}

input, .input{


}

/* 2. Spezial
/* ---------------------------------------------------------- */

.subscribe{

  min-width: 395px;

  form {

    display: flex;
    flex-direction: row;

    .form-group{
      flex: auto;
      input{
        width: 100%;
      }
    }
  }
}



/* 4. Header
/* ---------------------------------------------------------- */
header.site-header{

  position: relative;

  background: no-repeat center center fixed;
  background-size: cover;

  color: white;
  //box-shadow: inset 0 0 200vw rgba(255,255,255, 0.95);

  font-family: "Open Sans", sans-serif;

  h1.site-title {
    font-size: 5rem;
    margin: 10px 0;
  }

  h2.site-description {
    font-size: 1.6rem;
    margin: 0;
  }

  h2.author-bio {
    font-size: 1em;
    font-weight: 300;
  }

  .author-profile-image {
    max-width: 310px;
    width: 85%;
    border-radius: 200px;
  }

  .author-meta{
    font-size: 0.9em;
    z-index: 10;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
    font-family: Georgia, serif;
    font-style: italic;


    &>*:before {
      //content: '\2022';
      content: '';
      padding: 0 13px;


    }

    &>*:first-child:before{
      content: '';
    }


  }

  .inner {
    margin: 0 auto;
    //padding: 7rem 0;
    max-width: 1040px;
    width: 95%;

    text-align: center;
  }

  &:not(.no-cover){
    .inner{
      min-height: 45vh;
    }
  }

  .site-header-content {
    padding: 9rem 0 5rem;
  }


  &:after{
    content: '';
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgba(white, 0.7), rgba(white, 0.8), rgba(white, 0.95));
    height: 15px;
    z-index: 100;
  }

}

header.no-cover{
  color: black;
}

body.home-template{
  header.site-header{
    .inner{
      min-height: 72.5vh;
    }
  }

  .site-header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    transform: translate(-50%, -15%);
  }
}


/* 5. Site navigation
/* ---------------------------------------------------------- */
nav.site-nav, .site-nav-dropdown{

  a {
    color: $white-dirty;
  }

  a:hover {
    color: $white-soft-darken;
  }

}

nav.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 1000;


  &>div{
    flex-direction: row;
    flex-basis: auto;
  }




  .site-nav-logo {

    position: absolute;

    display: block;
    z-index: 1010;

    font-size: 1.4em;
    color: $white-dirty;

    margin: 11px 0;

    img{
      height: 37px;
      fill: #fff;
    }
  }

  ul.nav {
    display: flex;
    line-height: normal;
    li {
      list-style: none;
      padding: 0 13px;
    }
  }

  .menu{
    display: flex;
    content: '';
    position: relative;
    width: 42px;

    text-align: center;



    .menu-button{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1010;

      margin: 5px;

      cursor: pointer;

      svg {
        fill: $grey;
      }
    }
  }


}

.site-nav-dropdown{
  position: absolute;

  z-index: 1000;
  top: 0px;
  width: 100%;

  box-sizing: padding-box;
  padding: 57px 0 13px;

  background: $grey;

  transition: top .7s;

  &.hide{
    top: -450px;
  }

  .inner {

    display: flex;
    flex-direction: row;

    @media (max-width: $small) {
      flex-wrap: wrap-reverse;
    }

    margin: 0 auto;
    //padding: 7rem 0;
    max-width: 1040px;
    width: 95%;

    & > * {

    }

    p, h1, h2, h3, h4, h5 {
      color: white;
    }

    nav {
      flex: auto;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;

      ul.nav {

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-content: center;

        margin: 0;


        line-height: normal;
        li {
          list-style: none;
          padding: 7px 13px;
        }
      }

      .social-links{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

        margin: 10px;
        &>*{
          //flex:auto;
          align-self: center;
        }
      }


    }

    .subscribe{
      max-width: 532px;
    }
  }

}


/* 5.1. Header with no background image
/* ---------------------------------------------------------- */
header.no-cover nav.site-nav{
  a:hover{
    color: $grey-blue;
  }

  .site-nav-logo {

    position: absolute;
    display: block;

    top: 0;

    font-size: 1.4em;
    color: $grey;

    margin: 11px 0;

    img{
      height: 37px;
      &.svg path {
        fill: $grey;
      }
    }
  }
}


/* 6. Article
/* ---------------------------------------------------------- */
article {
  margin: 7rem auto 13rem;
  width: 90%;
  max-width: $max-width-article;

  //font-size: 1.6rem;

  &.featured{
    header.post-header{
      border-left: 9px dotted $grey-blue;
      padding-left: 11px;

    }
  }

  a.post-line-content-link {
    color: $grey;
  }


  .fluid-width-video-container{

    width: $max-width;

    iframe {
      margin: 0 auto;
    }
  }


  video, img, .fluid-width-video-container{
    display: block;
    margin: 0 50%;

    //width: 100%;
    max-width: $max-width;
    transform: translate(-50%, 0);

    text-align: center;

    @media (max-width: 1040px) {
      width: 100vw;

    }
  }



  blockquote{
    border-left: $white-dirty 3px solid;
    margin: 35px 10px 35px 0;
    padding: 7px 15px;
    p{
      margin: 0;
    }
  }

  pre {
    padding: 13px 11px;
    background: $white-soft-darken;
    border-radius: 3px;
    white-space: pre-wrap;
  }

  .footnotes{
    font-size: 1.3rem;

    li{
      margin: 0;
    }

    p{
      margin: 0;
      line-height: 1.1;
    }
  }

  header {
    .post-meta{

      font-size: 0.825em;
    }

    h1{
      margin-top: 2px;
      font-size: 5rem;
    }
  }

  footer.post-meta {

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    font-size: 0.825em;

    ul{
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;

      &.post-tags{
        margin-right: 7px;
      }

      &.author-list{
        margin-left: 7px;
      }

      li {
        list-style: none;


        &:before{
          content: '|';
          padding: 0 5px;
          color: $grey-blue;
        }

        &:nth-of-type(1):before{
          content: none;
        }
      }
    }

  }



}

footer.site-footer {
  div.site-footer-content {

    max-width: 1040px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .copyright{
      margin-right: 7px;
    }

    & > * {
      font-size: 1.5rem;


    }

    nav{
      a {
        padding: 5px;
      }
    }
  }
}


.overlay{

}



@import "error-404";