<template>
	<Layout>
		<section class="base-box">
			<h1>{{$page.impressum.title}}</h1>
			<div v-html="$page.impressum.html"></div>
		</section>
	</Layout>
</template>


<page-query>
	query {
		impressum:  ghostPage (path: "/impressum/") {
			path
			page
			title
			html
		}
	}
</page-query>

