<template>
	<Layout :showLogo="false">
		<BlogHead 
			headline="Storyloom" 
			description="Just started typing and never stopped"
		/>
		<CardFlex>
			<ImageCard 
				v-for="tag in $page.internalTags.edges" :key="tag.node.id" 
				:image="tag.node.image"
				:link="tag.node.link"
				:headline="tag.node.headline"
				:size="'l'"
			/>
			<ImageCard 
				v-for="external in this.externals" :key="external.name" 
				:image="external.image"
				:link="external.link"
				:headline="external.headline"
				:size="'l'"
			/>
		</CardFlex>
		
		
	</Layout>
</template>

<page-query>
	query {
		internalTags: allGhostTag(
			filter: {visibility: {eq: "internal"}}
		) {
			edges {
				node {
					id
					headline: name
					link: path
					image: feature_image
				}
			}
		}
	}
</page-query>


<script>

import Writer from '../components/Writter';
import ImageCard from '../components/Card/ImageCard';
import CardFlex from '../components/Card/CardFlex';
import BlogHead from '../components/BlogHead';
import externals from '../../content/topics_external.json'

export default {
	components: {
		Writer,
		ImageCard,
		CardFlex,
		BlogHead
	},
	data() {
		return {
			externals,
		}
	}
	
}
</script>