<template>
	<section class="author">

		<g-image alt="Author image" class="author__image" :src="author.profile_image" width="180" height="180" blur="5" />

		<h1 v-if="showTitle" class="author__site-title">
			{{ $static.metadata.siteName }}
		</h1>

		<p class="author__name">
			{{author.name}}
		</p>

		<p class="author__intro">
			{{author.bio}}
		</p>
	</section>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
export default {
	props: {
		showTitle: Boolean,
		author: Object
	}
}
</script>

<style lang="scss">
.author {
	display: block;
	margin: 0 auto;
	max-width: 500px;
	text-align: center;
	padding: calc(var(--space) / 2) 0;

	&__image {
		border-radius: 100%;
		width: 90px;
		height: 90px;
		margin-bottom: 1em;
	}

	&__name {
		font-size: 1.15em;
	}

	&__intro {
		opacity: .8;
	}

	&__site-title {
		font-size: 1.5em;
	}

	&__links {
		margin-top: -.5em;
		a {
			margin: 0 .5em;
		}
	}
}
</style>
