<template>
    <section class="base-box">
        <h1>{{headline}}</h1>
        <div>{{description}}</div>
    </section>

</template>

<script>
export default {
    props: {
        headline: String,
        description: String
    }
}
</script>

<style lang="scss" scoped>
    section {
        margin: 13vh 0.3rem 19vh;
        background: none;
        
    }
</style>