<template>
	<g-link class="logo" :to="link">
	  <span class="logo__text">
	    &larr; {{ name || $static.metadata.siteName }}
	  </span>
	</g-link>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
export default {
	props: {
		link: {
			type: String,
			default: "/"
		},
		name: {
			type: String,
		}
	},
}
</script>

<style lang="scss">
.logo {
	text-decoration: none;
  color: var(--body-color)!important;
  font-size: .9em;

	&__image {
		vertical-align: middle;
		border-radius: 99px;
		height: 40px;
		width: 40px;
		margin-right: .5em;
	}
}
</style>
