<template>
	<section class="content-box-borderless post-card" :class="{'post-card--has-poster' : post.poster}">
		<div class="image-box" >
			<g-image v-if="post.cover_image" class="image" :src="post.cover_image" />
		</div>
		<div class="text">
			<h2 class="post-card__title" v-html="post.title" />
			<p class="post-card__description" v-html="post.description" />

			<PostMeta class="post-card__meta" :post="post" />
			<PostTags class="post-card__tags" :post="post" />

			<g-link class="link" :to="post.path">Link</g-link>
		</div>
	</section>
</template>

<script>
import PostMeta from '~/components/PostMeta'
import PostTags from '~/components/PostTags'

export default {
	components: {
		PostMeta,
		PostTags
	},
	props: ['post'],
}
</script>

<style lang="scss" scoped>
@import '~/assets/style/_breakpoints.scss';
.post-card {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	direction: row;

	margin: calc(var(--space)/5) 0;

	

	@media (max-width: $bp-s*1.5) {
		flex-wrap: wrap;
	}

	@media (min-width: $bp-s*1.5) {
		&:nth-child(2n){
			direction: rtl;
		}
	}

	.image-box {
		position: relative;
		max-height: 100vh;
		object-fit: cover;
		
		@media (max-width: $bp-s*1.5) {
			max-height: 50vh;
			width: 100%;
		}
	}

	.image {
		height: 100%;
		width: 100%;

		background-color: var(--bg-content-color);
		object-fit: cover;
	}

	.text {
		box-sizing: border-box;
		flex-grow: 3;
		flex-shrink: 2;

		
		
		max-width: var(--size-xl) ;
		padding: 0 var(--space) calc(var(--space)/2);
		margin: auto;

		.post-card__description{
			text-align: justify
		}

		@media (min-width: $bp-s*1.5) {
			min-width: var(--size-m);
			width: 55%;
		}
	}

	.link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.0;
		overflow: hidden;
		text-indent: -9999px;
		z-index: 0;
	}

}
</style>
