<template>
    <section>
        <h1 class="current">Storyloom</h1>
    </section>
</template>

<script>
export default {
	props: {
		lines: Array
	},
	computed: {
		
	}
}
</script>

<style lang="scss" scoped>
	section {
		margin: 3px;

		* {
			font-family: 'Times New Roman', Times, serif;
		}

		img {
			font-size: 1em;
		}

		h1 {
			overflow: hidden; /* Ensures the content is not revealed until the animation */
			border-right: .15em solid orange; /* The typwriter cursor */
			white-space: nowrap; /* Keeps the content on a single line */
			margin: 0 auto; /* Gives that scrolling effect as the typing happens */
			letter-spacing: .15em; /* Adjust as needed */
			animation: 
				typing 3.5s steps(40, end),
				blink-caret .75s step-end infinite;
		}

		@keyframes typing {
			from { width: 0 }
			to { width: 100% }
		}

		@keyframes blink-caret {
			from, to { border-color: transparent }
  			50% { border-color: orange; }
		}
	}
</style>